.section-header {
  letter-spacing: 2px;
  color: #292929;
  font-size: 22px;
  text-transform: uppercase;
}

.text-header {
  color: #292929;
  font-size: 18px;  
}

.text-italic {
  font-style: italic; 
}
