.section-header {
  letter-spacing: 2px;
  color: #3a3a3a;
  font-size: 22px;
  text-transform: uppercase;
  padding: 12px 0;
  font-weight: bold;
}

.text-header {
  color: #3a3a3a;
  font-size: 18px;  
  padding: 4px 0;
  font-weight: bold;
}

.text-italic {
  font-style: italic; 
}
